# at this point, only configure and make artifacts are ignored
# upstream autoreconf artifacts aren't regenerated, so they're not ignored

Makefile

config.h
config.log
config.status
stamp-*

po/Makefile.in
po/POTFILES

.deps/
.intltool-merge-cache

*.o
*.gmo

src/leafpad

data/leafpad.desktop
